.baner {
   background-color: #709dca;
   position: relative;
   padding-bottom: 300px;
     .container{
        text-align: center;
        padding-top: 100px;
        h1{
          font-size: 35px;
          line-height: 24px;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: -0.025em;
          color: $text-col;
          padding-bottom: 10px;
         }
        p{
          font-size: 16px;
          font-weight: 300;
          text-transform: none;
          letter-spacing: normal;
          color: $text-col;
          padding-bottom: 40px;
        }
        form{
           input{
            width: 23%;
            height: 46px;
            background-color: #ffffff;
            border-style: none;
            border-radius: 3px;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            color: #a9a9a9;
            padding-left: 20px;
           }
           button{
            width: 19%;
            height: 46px;
            background-color: $bg-col;
           font-size: 14px;
           line-height: 1.2;
           font-weight: 400;
           text-transform: uppercase;
           color: $text-col;
           border-radius: 3px;
           border-style: none;
           }
        }
       div{
          
          display: flex;
          justify-content: center;
          
          img{
            bottom: -12%;
            position: absolute;
          
          }
      }
    }
}
